table {border-collapse: collapse;font-size: 12px; margin: 0; padding: 0;}
* {box-sizing: border-box;-moz-box-sizing: border-box;}
html, body {font-family: 'arial narrow';-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;text-transform: uppercase;color: #000000;font-size: 14px;}
h1{text-align: center;margin-top: 10px;font-size: 20pt;font-weight: 500;font-family: 'arial narrow'line-height: 35px;margin-bottom: 0px;color: #000000;}
h2{text-align: center;font-size: 17pt}
h3{text-align: center;text-transform: capitalize !important;margin: 0;font-weight: 600;font-family: 'arial narrow';font-size: 17px;line-height: 19px;}
table tr td{height:23px;padding-left: 10px;padding-right: 10px;}
table tr td input{margin-left: 40px !important;margin-bottom: 0px;}
input[type="checkbox"]{outline: 1px solid #000;}
p {margin: 0px;text-transform: capitalize;}
.data{font-size: 10pt;font-weight: bold;}
.btn-print{width: 70px;height: 40px;color: #ffffff;background: #009688;font-size: 14px;outline: none;}
.boxpermit{border: 1px solid #000;}
.wd{width: 692px;}
.fwd{width: 1386px;}
.wrap{margin-right: 60px !important;}
.tbbody{margin-top: 10px;margin-bottom: 10px;}
.trborder{border-bottom: 1px solid #000000;}
.trlocation{height: 30px;}
.tdborder{border-left: 1px solid #000;}
.title{margin-top: 5px;margin-bottom: 5px;font-size: 10pt;}
.underline {border-bottom: 1px solid #000000;font-weight: normal;margin-bottom: 0px; text-align: center;}
.smallBox>tbody>tr>td{width: 23px;height: 23px;padding:0px;text-align: center;    border: solid 1px #000000}
.nopaddingleft{padding-left: 0;}
.nopaddingright{padding-right: 0;}
.signature{padding:30px 70px 0px 70px;text-align: center}
.signature label{width: 100%;border-bottom: 1px solid #000000;}
.page {background: white;padding:10px 20px 0px 20px;width: 100%}
.barcode{float:right;text-align:center;height: 20px; padding-right:100px;position: relative;width:20%;}
.header {display: inline-block;margin:0 auto;width:60%;}
.formno {float:left;width:20%;}
.header-container{width:100%;text-align:center;}
table .last-td:last-child td {padding-bottom:10px;}
@page {	 margin: 0;}
@media print {
    .page {margin: 0;page-break-after: always;padding-top: 20px;}
    .data{font-size: 10pt;font-weight: bold;}
    .signature{padding: 30px 0px 0px 0px;}
    h1{font-size: 16pt;}
    h2{font-size: 12pt;}
    h3{font-size: 10pt;}
    button{display: none}
    table tr td input {margin-left: 10px !important;margin-bottom: 0px;}
    .title{font-size: 10pt;}
    .wd{width: 552px;margin-right: 20px;}
}
